.top {
    z-index: 100000000;
}

.top1 {
     box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    min-height: 64px;
    position: relative;
    width: 100%;
    background-color: rgb(33, 150, 243);
    color: rgba(255, 255, 255, 0.87);
}



body {
    overflow-y: auto!important;
    height:100%;
}



button::-moz-focus-inner {
  border: 0;
}

.aa{
    height: 300px;
    padding: 20px;
    width: 690px;   
}



.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}



.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; }

  


md-grid-list {
  margin: 8px; }
.gray {
  background: #f5f5f5; }
.green {
  background: #b9f6ca; }
.yellow {
  background: #ffff8d; }
.blue {
  background: #84ffff; }
.purple {
  background: #b388ff; }
.red {
  background: #ff8a80; }

md-grid-tile { 
-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
transition-property: #00cc00;


    padding-top: 90px;
}






.flat-table {
    margin-bottom: 20px;
    width: 100%;
    border-collapse:collapse;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    border: none;
                border-radius: 3px;
               -webkit-border-radius: 3px;
               -moz-border-radius: 3px;
  }
  .flat-table th, .flat-table td {
    /*box-shadow: inset 0 -1px rgba(0,0,0,0.25), */
      inset 0 1px rgba(0,0,0,0.25);
  }
  .flat-table th {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    /*padding: 1em;*/
    padding-left: 1em;
    color: rgba(0,0,0,0.45);
    /*text-shadow: 0 0 1px rgba(0,0,0,0.1);*/
    font-size: 1.5em;
    border-bottom:  none #fff;


      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: 48px;
      color: #fff;
      background: rgba(0, 0, 0, 0.18);
  }
  .flat-table td {
    color: #000;
    padding: 0.7em 1em 0.7em 1.15em;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    font-size: 1.4em;
    border-bottom: 10px solid #fff;
  }
  .flat-table tr {
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
  }
  .flat-table-1 {
    background: #336ca6;
  }
  .flat-table-1 tr:hover {
    background: rgba(0,0,0,0.19);
  }
  .flat-table-2 tr:hover {
    background: rgba(0,0,0,0.1);
  }
  .flat-table-2 {
    background: #FFC107;
    color: rgba(0, 0, 0, 0.87);
  }
  .flat-table-3 {
    background: #52be7f;
  }
  .flat-table-3 tr:hover {
    background: rgba(0,0,0,0.1);
  }

  



.virtualRepeatdemoInfiniteScroll #vertical-container {
  height: 292px;
  width: 400px; }
.virtualRepeatdemoInfiniteScroll .repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 40px;
  padding-top: 10px; }
.virtualRepeatdemoInfiniteScroll md-content {
  margin: 16px; }
.virtualRepeatdemoInfiniteScroll md-virtual-repeat-container {
  border: solid 1px grey; }
.virtualRepeatdemoInfiniteScroll .md-virtual-repeat-container .md-virtual-repeat-offsetter {
  padding-left: 16px; }








md-content#main.md-blue-theme {
    background-color: #ececec;
}

md-card {
    background-color: #ffffff;
    cursor: pointer;
}

.collapsed-row span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.animate-enter {
    -webkit-transition: 1s linear all; /* Chrome */
    transition: 1s linear all;
    opacity: 0;
}

.animate-enter.animate-enter-active {
    opacity: 1;
}

.round-face {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
    height: 48px;
    margin: 8px;
}

#mainFab {
    position: fixed;
    right: 2%;
    bottom: 24px;
    background-color: #db4437;
}

#mainFab svg {
    fill: white;
}

#fab-popup {
    height: 260px;
    position: fixed;
    right: 2%;
    bottom: 90px;
}

#main {
    width: 100%;
}

#content {
    min-width: 100%;
    max-width: 1080px;
}

.animate-if {
    background:white;
    border:1px solid black;
    padding:10px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(10.250, 10.460, 10.450, 10.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
    opacity:1;
}

#message {
    position: fixed;
    z-index: 999999;
    bottom: 0;
    right: 0;
    width: 30%;
}